In [1]:
import numpy as np
from sklearn import preprocessing,neighbors
from sklearn.model_selection import train_test_split
import pandas as pd

## Description

1. Number of Instances: 699 (as of 15 July 1992)

2. Number of Attributes: 10 plus the class attribute

3. Attribute Information: (class attribute has been moved to last column)

   .#  Attribute                     Domain
   -- -----------------------------------------
   1. Sample code number            id number
   2. Clump Thickness               1 - 10
   3. Uniformity of Cell Size       1 - 10
   4. Uniformity of Cell Shape      1 - 10
   5. Marginal Adhesion             1 - 10
   6. Single Epithelial Cell Size   1 - 10
   7. Bare Nuclei                   1 - 10
   8. Bland Chromatin               1 - 10
   9. Normal Nucleoli               1 - 10
  10. Mitoses                       1 - 10
  11. Class:                        (2 for benign, 4 for malignant)

4. Missing attribute values: 16

   There are 16 instances in Groups 1 to 6 that contain a single missing 
   (i.e., unavailable) attribute value, now denoted by "?".  

5. Class distribution:
 
   Benign: 458 (65.5%)
   Malignant: 241 (34.5%)

In [25]:
df=pd.read_csv('breast-cancer-wisconsin.data',
               names=['id','clump_thickness','unif_cell_size',
                      'unif_cell_shape','marg_adhesion',
                      'single_epith_cell_size','bare_nuclei',
                      'bland_chrom','norm_nucleoli','mitoses','class'])

In [26]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [27]:
df.dtypes

id                         int64
clump_thickness            int64
unif_cell_size             int64
unif_cell_shape            int64
marg_adhesion              int64
single_epith_cell_size     int64
bare_nuclei               object
bland_chrom                int64
norm_nucleoli              int64
mitoses                    int64
class                      int64
dtype: object

In [28]:
df.replace('?',-99999,inplace=True)

In [29]:
df.drop(['id'],axis=1,inplace=True)

In [30]:
X=np.array(df.drop(['class'],1))

In [31]:
y=np.array(df['class'])

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [33]:
clf=neighbors.KNeighborsClassifier()

In [34]:
clf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [35]:
accuracy=clf.score(X_test,y_test)

In [36]:
accuracy

0.97857142857142854

In [83]:
example_measures=np.array([4,2,1,1,1,2,3,2,1])

In [84]:
len(example_measures)

9

In [89]:
example_measures=example_measures.reshape(1,-1)

To programatically reshape based on number of samples greater than 1 use this:

In [90]:
#example_measures=example_measures.reshape(len(example_measures),-1)

In [91]:
example_measures

array([[4, 2, 1, 1, 1, 2, 3, 2, 1]])

In [92]:
prediction=clf.predict(example_measures)

In [93]:
prediction

array([2], dtype=int64)